@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 74 21% 59%;
    --foreground: 109 97% 12%;
    --card: 74 21% 63%;
    --card-foreground: 109 97% 12%;
    --popover: 74 21% 63%;
    --popover-foreground: 109 97% 12%;
    --primary: 109 97% 12%;
    --primary-foreground: 74 21% 95%;
    --secondary: 74 21% 50%;
    --secondary-foreground: 109 97% 12%;
    --muted: 74 21% 50%;
    --muted-foreground: 109 40% 30%;
    --accent: 74 21% 50%;
    --accent-foreground: 109 97% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 74 21% 45%;
    --input: 74 21% 45%;
    --ring: 109 97% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 109 97% 4%;
    --foreground: 74 21% 95%;
    --card: 109 97% 6%;
    --card-foreground: 74 21% 95%;
    --popover: 109 97% 6%;
    --popover-foreground: 74 21% 95%;
    --primary: 74 21% 59%;
    --primary-foreground: 109 97% 4%;
    --secondary: 109 97% 10%;
    --secondary-foreground: 74 21% 95%;
    --muted: 109 97% 10%;
    --muted-foreground: 74 21% 60%;
    --accent: 109 97% 10%;
    --accent-foreground: 74 21% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 109 97% 10%;
    --input: 109 97% 10%;
    --ring: 74 21% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
